global:
  scrape_interval: 12s

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['43.200.171.33:8080']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node_exporter:9100']
