spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ddarahang_test?rewriteBatchedStatements=true&profileSQL=true&logger=Slf4JLogger&maxQuerySizeToLog=999999
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 500
      minimum-idle: 10
      idle-timeout: 30000
      max-lifetime: 60000
      connection-timeout: 30000
      
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: "/actuator"
  prometheus:
    metrics:
      export:
        enabled: true
